<h1>Edytuj książkę</h1>

<form>
<div class="form-group">
		<label for="bookTitle">Tytuł książki</label>
		<input type="text" class="form-control" id="bookTitle" placeholder="Tytuł książki" ng-model="response.data[0].title">
	</div>
	<div class="form-group">
		<label for="bookAuthor">Autor</label>
		<input type="text" class="form-control" id="bookAuthor" placeholder="Autor" ng-model="response.data[0].author">
	</div>
	<div class="form-group">
		<label for="bookIsbn">ISBN</label>
		<input type="text" class="form-control" id="bookIsbn" placeholder="ISBN" ng-model="response.data[0].isbn">
	</div>
<a ng-click="cancel()" class="btn btn-small btn-danger">Anuluj</a>
<a ng-click="editBook()" class="btn btn-small btn-primary">Zmień</a>
</form>