<!DOCTYPE html>
<html ng-app="bookStore">
  <head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
  </head>
  <body>
	<a href="#/">Home</a>
    <a href="#/books">Books</a>
	<a href="#/books/3">Book 3</a>
  
    <div ng-view></div>
	
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/homeController.js"></script>
    <script type="text/javascript" src="controllers/booksController.js"></script>
  </body>
</html>