<!DOCTYPE html>
<html ng-app="bookStore">
  <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="style.css" rel="stylesheet">
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#/">Księgarnia</a>
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="#/">Home</a>
			<a class="nav-item nav-link" href="#/books">Książki</a>
			<a class="nav-item nav-link" href="#/addBook">Dodaj książkę</a>
		</div>
	</nav>
  
    <div ng-view></div>
	
    <script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="services/bookService.js"></script>
    <script type="text/javascript" src="controllers/homeController.js"></script>
    <script type="text/javascript" src="controllers/booksController.js"></script>
    <script type="text/javascript" src="controllers/addBookController.js"></script>
    <script type="text/javascript" src="controllers/editBookController.js"></script>
    
  </body>
</html>